
form {
    text-align: left;
    color: $primaryColor;
}

input {
    border: 2px solid $primaryColor;
    border-radius: 6px;
    padding: .3em .1em .3em .3em;
    cursor: pointer;

    &:hover {
        background-color: $tertiaryColor;
    }
}



table {
    color: $primaryColor;
    border: 1px solid $primaryColor;
    border-collapse: collapse;
    margin: auto;

    td,
    th,
    tr {
        border: 1px solid black;
        text-align: center;
        padding: .5em 1em .5em 1em;
    }
}

th {
    background-color: rgb(175, 190, 143);
}

tr {
    background-color: white;
}

caption {
    padding-bottom: 20px;
    font-weight: bold;
}

button {
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px $primaryColor;
    border: 5px solid $primaryColor;
    border-radius: 10px;
    background-color: rgb(175, 190, 143) ;
    padding: .2em .3em;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 2em 2em;
    transform: scale(1);
    transition: all 350ms ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);

    }
}